<nav>
  <div class="navbar">
    <a class="site-name text" href="">BLOG</a>

    <div class="links-container">
      <ul class="nav-links">
        <li></li><a class="links" href="/">Create</a></li>
        <li></li><a class="links" href="/view">View</a></li>
      </ul>
    </div>
  </div>
</nav>
